body {
    font-family: "Noto Serif", serif;
    background-color: #33A4D6;
    font-size: 14px;
    line-height: 1.2
}

img {
    width: 100%;
    margin: 0 0 2em 0;
}

h1 {
    font-size: 3em;
    background-color: #5BE86E;
    text-align: center;
}

h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 2em
}

h3 {
    font-size: 1em
}

main {
    width: 55%;
    margin: 1em 0 3em 1em
}